---
import placeholder from "@/resources/placeholder";
const { basics } = placeholder;
const { location } = basics;
const { profiles } = basics;
---

<fieldset id="basics" name="location" class="flex flex-col">
    <legend>Basics</legend>
    <input placeholder={basics.name} id="name" name="name" type="text" />
    <input placeholder={basics.label} id="label" name="label" type="text" />
    <label for="image">Upload image</label>
    <input id="image" name="image" type="file" accept="image/*" class="hidden" />
    <input placeholder={basics.email} id="email" name="email" type="email" />
    <input placeholder={basics.phone} id="phone" name="phone" type="tel" />
    <input placeholder={basics.url} id="url" name="url" type="url" />
    <textarea placeholder={basics.summary} id="summary" name="summary"
    ></textarea>
    <fieldset id="location" name="location">
        <legend>Location</legend>
        <input
            placeholder={location.address}
            id="address"
            name="address"
            type="text"
        />
        <input
            placeholder={location.postalCode}
            id="postalCode"
            name="postalCode"
            type="text"
        />
        <input placeholder={location.city} id="city" name="city" type="text" />
        <input
            placeholder={location.countryCode}
            id="countryCode"
            name="countryCode"
            type="text"
        />
        <input
            placeholder={location.region}
            id="region"
            name="region"
            type="text"
        />
    </fieldset>
    <fieldset id="profiles" name="profiles">
        <legend>Profiles</legend>
        <input
            placeholder={profiles[0].network}
            id="network"
            name="network"
            type="text"
        />
        <input
            placeholder={profiles[0].username}
            id="username"
            name="username"
            type="text"
        />
        <input
            placeholder={profiles[0].url}
            id="netUrl"
            name="url"
            type="url"
        />
    </fieldset>
</fieldset>
